<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Speak to translate. Recordings stay on this device.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Turns what you say into text to translate. Recognition runs on this device when possible.</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Q-Translator</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>拍下要翻译的文字。照片只在本机识别，不会上传。</string>
    <key>UIApplicationShortcutItems</key>
    <array>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>interpret</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>ShortcutInterpret</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>captions.bubble</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>face</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>ShortcutFace</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>person.2</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>practice</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>ShortcutPractice</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>theatermasks</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>new</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>ShortcutNew</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>square.and.pencil</string>
        </dict>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
